:root {
    --primary-color: rgb(162, 196, 201);
    --secondary-color: rgb(118, 165, 175);
    --terciary-color: rgb(255, 217, 102);
    --cuaternary-color: rgb(221, 221, 221);
    --quintary-color: rgb(153, 153, 153);
}