:root {    
    --primary-color: rgb(162, 196, 201);
    --secondary-color: rgb(118, 165, 175);
    --terciary-color: rgb(255, 217, 102);
    --cuaternary-color: rgb(221, 221, 221);
    --quintary-color: rgb(153, 153, 153);

    --var-secondary-color: rgb(118, 165, 175, 0.5);
    --var-terciary-color: rgb(202, 171, 78);
    --var-cuaternary-color: rgb(172, 171, 171);
    --var-quintary-color: rgb(105, 105, 105);
}