.p-dialog {
  width: 400px !important;
  background-color: var(--secondary-color) !important;
}

.p-button-text.p-button-secondary{
  color: black !important;
}

.p-button-text.p-button-secondary:hover{
  color: var(--terciary-color) !important;
}

.p-menu-list {
  background-color: var(--secondary-color) !important;
  border: 2px solid var(--terciary-color) !important;
  border-radius: 5px !important;
}

.card {
  background-color: var(--cuaternary-color);
}

.btn-primary {
    background-color: var(--terciary-color);
    border-color: var(--terciary-color);
    color: black;
}

.btn-primary:hover {
    background-color: var(--var-terciary-color);
    border-color: var(--var-terciary-color);
}